layout {
    pane size=1 borderless=true {
         plugin location="zjstatus"
    }

    pane split_direction="vertical" {
        pane edit="." {
            focus true
            size "60%"
            borderless true
        }

        pane {
            name "Console"
            size "40%"
        }
    }
}
